.contenedorImagen {
  overflow: hidden;
  width: 400px;
  height: 200px;
}

.imagenAnimada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: relative;
  right: 0;
  animation: moverIzquierda 4s infinite;
}

.imagenAnimada:hover {
  transform: scale(1.2);
}

@keyframes movercentro {
  0% {
    left: 0;
  }
  100% {
    center: 100%;
  }
}
