@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin:0;
    padding: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #101116
    margin:  auto;
    border: 1px solid #ccc; /* Agregar un borde gris */
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 50px;
    border-left-width: 1px
    margin-top: 150px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

header {
    background-image: url(images/blu.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin:  auto;
    background-color:
    
}   

    .menu {
        
        position: absolute;
        top: -10px;
        left: 0px;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
         /* Color de fondo azul, puedes cambiarlo a tu elección */
    padding: 10x 20px; /* Agregar relleno para espaciar el contenido del menú */
    color: #fff; /* Color del texto en el menú */
}
    

.logo {
    width: 250px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px
    right: 0 px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 25px;
    padding: 20px;
    color: #FDFDFD;
    display: block;
    text-transform: uppercase;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

.menu .navbar ul li a:hover {
    color: #f3eced;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 150px 100 100px 150;
}

.header-txt {
    width: 40%;
    padding-right: 25px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;

}

.header-txt h1 {
    font-size: 25px;
    line-height: 220px;
    font-weight: 800;
    color: #141414;
    margin-bottom: -50px;
}

.header-txt p {
    font-size: 18px;
    color: #0f0f0f;
}


.header-img {
    width: 50%;
}

.hamburger {
    width: 650px;;
    margin-top: 200px
    
}

.botones {
    display: flex;
    margin-top: 50px;
}

.btn-1 
    display: inline-block;
    background: linear-gradient(90deg, #E70B25 0%, #900314 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: #FDFDFD;
    border-radius: 25px;
}

.btn-2 {
    display: inline-block;
    border: 1px solid #FDFDFD;
    padding: 10px 35px;
    margin-right: 20px;
    color: #FDFDFD;
    border-radius: 25px;
}

.btn-1:hover 
    background: linear-gradient(90deg, #f3031f 0%, #bc0217 100%);
}

.btn-2:hover {
    border: 1px solid #FA0D29;
}

.icon {
    width: 20px;
}

.product-menu {
    padding: 50px 0 150px 0;
}

.title {
    color: #FDFDFD;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.product {
    display: flex;
    position: relative;
    
}

.hoja {
    right: 0;
    position: absolute;
    bottom: -130px;
    width: 150px;
}

.menu-nav {
    display: flex;
    margin-bottom: 45px;
}

.tab {
    margin-right: 100px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 25px;
    color: #A0A0A0;
    font-size: 16px;
    font-weight: 800;
    background-color: #24252A;
    cursor: pointer;
}

.tab.active {
    background: linear-gradient(90deg,#ec130c 0%, #ee3e12 100%);
    color: #ffffff;
}

.tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.visible {
    display: initial;
}

.box-container-1,
.box-container-2,
.box-container-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-1,
.box-2,
.box-3 {
    background-image: url(images/rojo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;

}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
    display: inline-block;
}

.image {
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 180px;
}

.content h3 {
    font-size: 20px;
    color: #FDFDFD;
}

.content p {
    font-size: 15px;
    color: #A0A0A0;
    line-height: 2;
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(220, 20, 60);
    border-color: rgb(220, 20, 60);
    color: #FDFDFD;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
}

.price {
    font-size: 14px;
    color: #A0A0A0;
}

.buy {
    padding: 1px 15px 0px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #95B52C 0%, #586E25 100%);
}

.buy img {
    width: 15px;
}

.load-more {

    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border: 1px solid #A0A0A0;
    color: #A0A0A0;
    font-size: 16px;
    cursor: pointer;

}

.load-more:hover {
    background: linear-gradient(90deg, #E70B25 0% , #900314 100%);
    border-color: rgb(220, 20, 60);
    color: #FDFDFD;
}

.info {
    background-image: linear-gradient(rgba(255, 253, 253, 0.5), rgba(255, 253, 253, 0.5)), url(images/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.info-content {
    display: flex;
    position: relative;
}

.info-txt{
    width: 60%;
    margin-top: 85px;
}

.info-txt h2 {
    color: #FDFDFD;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: #A0A0A0;
    margin-bottom: 25px;
}

.info-sec {
    display: flex;
}

.info-1 {
    display: flex;
}

.info-1 img {
    width: 80px;
}

.info-2 {
    margin-left: 25px;
}

.info-2 h3 {
    color: #FDFDFD;
    font-size: 25px;
}

.info-2 p {
    color: #A0A0A0;
    font-size: 16px;
}

.info-img {
    position: absolute;
    right: -55px;
    top: -103px;
}

.info-img img {
    width: 650px;
}

.footer {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2 {
    width: 150px;
}

.links h4 {
    color: #FDFDFD;
    text-transform: uppercase;
    margin-bottom: 25px;
   
}

.links ul li a {
    color: #FDFDFD;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #DD241B;
    border-radius: 50%;
}

.social:hover {
    background-color: #DD241B;
}
.social img {
    margin: 8px 0 0 10px;
}


@media(max-width: 500px ) {
    .menu {
        padding: -40px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #F61706;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    .menu .navbar ul li a:hover {
        color: #c0c0c0;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: row;
        padding: 1000px 30px 30px 30px;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }
    .btn-2 {
        margin: 0 0 20px 0;
    }

    .header-img {
        width: 100%;
        margin-top: 45px;
    }

    .product-menu {
        padding: 30px;
    }

    .title {
        margin-bottom: 20px;
    }

    .hoja {
        display: none;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        margin-bottom: 25px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .box .image {
        height: 200px;
    }

    .info {
        padding: 30px;
        height: 70vh;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .info-txt {
        width: 100%;
        margin-top: 0px;
    }

    .info-txt p {
        margin-bottom: 5px;
    }

    .info-sec {
        flex-direction: column;
        padding: 0px 35px;
    }

    .info-1 {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2 {
        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img {
        display: none;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ffffff;
    }


    .links h4 {
        margin: 25px 0 10px 0;
    }



}

.boton-menu {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d1f20;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Hace las letras más anchas */
        font-family: 'Roboto', sans-serif; /* Fuente moderna */
        text-transform: uppercase; /* Convierte el texto en mayúsculas */
        
    
}

.boton-menu:hover {
    background-color: #f02d14;
}


.header-image {
    text-align: center; /* Centrar horizontalmente el contenido */
    width: 100%; /* Ancho del encabezado (ajusta según tus necesidades) */
}

.header-image img {
    margin: 0 auto; /* Centrar horizontalmente la imagen */
    /* Añade otros estilos según sea necesario para la imagen */
}.menu-nav

